{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success Page</title>
    <link rel="stylesheet" href="{% static 'kpi/success.css' %}">
    <link rel="icon" href="{% static 'kpi/favicon.ico' %}" type="image/x-icon">
</head>
<body>
 <div class="background-container">
    <div class="container">
        <div class="success-message">
            <img src="{% static 'kpi/images/img.png' %}" alt="Success Icon">
            <h2>Assalomu alaykum. Xush kelibsiz!</h2>
            <p>Sizning KPI ma'lumotlaringiz muvaffaqiyatli hisoblandi.</p>
            <a href="{% url 'view_kpis' %}" class="btn">View KPIs</a>
        </div>
    </div>
 </div>
</body>
</html>

