<!--&lt;!&ndash; calc/templates/calc/success_page.html &ndash;&gt;-->
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>Success Page</title>-->
<!--</head>-->
<!--<body>-->
<!--    <h2>File Uploaded Successfully</h2>-->
<!--    <p>Your KPI calculations have been processed successfully.</p>-->
<!--    &lt;!&ndash; You can add additional content or links here &ndash;&gt;-->
<!--</body>-->
<!--</html>-->

<!-- calc/templates/success_page.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success Page</title>
</head>
<body>
<!--    <h2>File Uploaded Successfully</h2>-->
<!--    <p>Your KPI calculations have been processed successfully.</p>-->
<!--    <p><a href="{% url 'view_kpis' %}">View KPIs</a></p>-->
<!-- base.html or other template -->
{% if user.is_authenticated %}
    {% if user.is_staff %}
        <a href="{% url 'view_kpis' %}">View KPIs</a>
        <!-- Other staff-specific links or content -->
    {% endif %}
    <!-- Common links or content for all logged-in users -->
{% else %}
    <!-- Links or content for unauthenticated users -->
{% endif %}

</body>
</html>

