{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
      <link rel="stylesheet" href="{% static 'kpi/main.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
</head>
<body>
    <div class="container">
        <div class="rasm">
            {% if photo_url %}
               <img style="width: 100%; height:100%" src="{{ photo_url }}" alt="Profile Picture">
            {% else %}
               <img src="{% static 'kpi/default_photo.jpg' %}" alt="Default Profile Picture">
            {% endif %}
        </div>
        <div class="info">
            {% if kpi_entries %}
                {% with kpi=kpi_entries.0 %}
            <h1 style="font-size: 60px;">{{ kpi.employee.name }}</h1>
            <div class="info_item">
                <span>ФИЛИАЛ /ГО</span>
                <span class="ikki">{{ kpi.employee.branch }}    </span>
            </div>
            <div class="info_item">
                <span>ВСП (ОПЕРУ/БХМ/БХО)</span>
                <span class="ikki">{{ kpi.employee.division }}</span>
            </div>
            <div class="info_item">
                <span>ПОДРАЗДЕЛЕНИЕ</span>
                <span class="ikki">{{ kpi.employee.department }}</span>
            </div>
            <div class="info_item">
                <span>ДОЛЖНОСТЬ</span>
                <span class="ikki">{{ kpi.employee.position }}</span>
            </div>
            <div class="info_item">
                <span>FUNCTIONAL</span>
                <span class="ikki">{{kpi.premium}}</span>
            </div>
            <div class="info_item">
                <span>ТАБЕЛЬНЫЙ НОМЕР РАБОТНИКА</span>
                 <span class="ikki">{{ kpi.employee.table_number }}</span>
            </div>
              {% endwith %}
          {% endif %}
    </div>
        <div class="diagram">
            <h1 style="padding-top:10px;padding-left:10px;">KPI</h1>
            <p style="float: right; margin-top: -39px; font-size: 24px; font-weight: 900;padding-left:200px;">за июль 2023 г.            </p>
            <canvas id="myChart1" style="width:100%;max-width:1000px;margin-top:-280px;padding-right:309px;padding-bottom:400px;padding-left:-90px"></canvas>

<script>
const xValues = ["", ""];
const yValues = [78, 22];
const barColors = [
  "#008000",
  "#f2f2f2"
];

new Chart("myChart1", {
  type: "doughnut",
  data: {
    labels: "",
    datasets: [{
      backgroundColor: barColors,
      data: yValues,
      borderDash:[4,40],
      borderDashOffset:12.0,
      borderJoinStyle:'miter',
      circumference:30
    }]
  },
 var options = {
    maintainAspectRatio: false,
    aspectRatio: 1,
    responsive: true,
    plugins: {
        datalabels: {
            formatter: function(value, context) {
                return context.chart.data.labels[context.dataIndex];
            },
            color: '#fff', // Color of the text
            font: {
                size: '16' // Font size of the text
            }
        }
    }
};
    var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'doughnut',
    data: data,
    options: options
});
</script>

        </div>
    </div>

    <nav class="chart1">
        <p style="font-style: italic; font-size: 30px; font-weight: 900;">Динамика выполнение общего плановые показателей KPI</p>
        <canvas id="myChart"></canvas>
    </nav>
<div class="umumiy">

  <div class="flex-container1">
    <div style="width: 99%;"></div>
          <div style="width: 35%;">НАЧАЛА</div>
          <div style="width: 34%;">КОНЕЦ</div>
       <div style="width: 9%;">АКТИВ <br>НОСТЬ</div>
          <div style="width: 29%;">МЕТОД <br> РАСЧОТА</div>
    <div style="width: 28%;" > ВЕС <br> ПОКАЗАТЕЛЬЯ  </div>
    <div style="width: 25%"> ПЛАН</div>
    <div style="width: 28%;">ФАКТ<br></div>
    <div style="width: 18%;">ИСПОЛ- <br>  НЕНИЕ <br></div>
  </div>


 {% for kpi in kpi_entries %}
    <div class="flex-container">
        <div id="title">{{ kpi.kpi_name }}</div>
        <div id="start">{{ kpi.start }}</div>
        <div id="end">{{ kpi.end }}</div>
          <div id="active">{{ kpi.activity }}</div>
          <div id="method">{{ kpi.method }}</div>
         <div id="pos">{{ kpi.weight }}</div>
     <!-- Update the lines where you display the numbers -->
<div id="plan">{{ kpi.performance_score|add:0.5|floatformat:"0" }}</div>
<div id="fact">{{ kpi.fact|add:0.5|floatformat:"0" }}</div>
<div id="done">{{ kpi.finished|add:0.5|floatformat:"0" }}</div>


    </div>
    {% endfor %}


</div>
<script>
  // Sample data for the chart
  var data = {
      labels: ["January", "February", "March", "April", "May","июнь","июль","август","сентябрь","октябрь","ноябрь","декабрь"],
      datasets: [{
          label: "",
          data: [10, 20, 15,12,14,16,18,22,24,26,28, 25, 30],
          borderColor: 'rgba(75, 192, 192, 1)',
          borderWidth: 5,
          fill: true,
          color:'rgb(45,56,75)',
          pointHitRadius:50,
          pointRadius:10,
          pointHoverBorderWidth:15,
          backgroundColor:'rgba(75, 192, 192, 0.15)',
          pointHoverBackgroundColor:'rgba(75, 192, 192, 1)',
          pointBackgroundColor:'rgb(255,255,255)'
      }]
  };

  // Chart configuration
  var options = {
      maintainAspectRatio: false, // Set to false to adjust the aspect ratio
      aspectRatio: 0.9, // Adjust the height of the chart
      responsive: true,
        scales: {
        yAxes: [{
            ticks: {
                fontSize: 10, // Adjust the font size for the y-axis labels
            }
        }],
        xAxes: [{
            ticks: {
                fontSize: 10, // Adjust the font size for the x-axis labels
            }
        }]
    }
  };

  // Get the context of the canvas element
  var ctx = document.getElementById('myChart').getContext('2d');

  // Create the chart
  var myChart = new Chart(ctx, {
      type: 'line',
      data: data,
      options: options
  });
</script>
</body>
</html>
