.container{
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    /* background-color:rgb(178, 174, 174) ; */
    height: 100%;
    width: 1140px;

}
.loginContainer{
    border-radius:8px;
    border: 1px solid gray;
    width: 300px;
    height:350px;
    background-color: whitesmoke;
    margin: 150px auto;
    padding: 15px;
}
.welcomeText{
    font-size: 18;
    font-weight: 600;
    margin: 5px 0;

}

.nameInput{
    width: 90%;
    height: 35px;
    margin: 10px auto;
    border-radius: 5px;
}
.inputSection{
    width: 100%;
    height: 35px;
    /* font-size: 25; */
    border-radius: 5px;
    border: none;
    padding-left: 10px;

}
.loginButton{
    width: 50%;
    height: 25px;
    background-color: rgb(61, 61, 186);
    color: white;
    font-weight: 600;
    border-radius: 5px;
    border: none;
}

.signDiv{
    flex-direction: row;
    align-items: center;
}
.signText{
    font-weight: 600;
}
.noneText{
    font-weight: 500;
}

/* rgb(178, 174, 174); */